.chat-input-container {
  background-color: #000000;
  color: #FFFFFF;
  width: 370px;
  height: 50px;
  display: flex;
  align-items: center;
  border-top: 1px solid #FFFFFF;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.chat-text-area {
  vertical-align: middle;
  margin-left: 15px;
  width: 250px;
  height: 30px;
  border: none;
  resize: none;
  font-size: 16px;
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 6px;
  outline: none;
  &::-webkit-scrollbar {
    width: 0;  /* to remove scrollbar space */
    background: transparent;  /* to make scrollbar invisible */
  }
}

.chat-send {
  margin-left: 45px;
  margin-top: -5px;
  cursor: pointer;
  font-size: 35px;
  color: #5851DB;
}