.avatar {
  padding: 7px 7px;
  border: 2px solid #000000;
  border-radius: 50%; /* to get a circular shape */
  cursor: pointer;
  background-color: #000000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}